.about{
	-fx-background-color: #BB00BB;
	-fx-alignment: center;		
	-fx-padding: 10.0;
	-fx-border-style: solid;
}


.mainpane{
	-fx-background-color: blue; 
	-fx-border-color: green; 
	-fx-border-width: 4.0; 
}

Label {
	-fx-background-color: red; 
		-fx-border-width: 10.0;
}

* { -fx-font-size: 24.0px; }

#vbox-1 {
	-fx-border-color: pink; 
	-fx-border-width: 4.0; 
	-fx-forground-color: cyan;
}